{% extends "base.html" %}

{% block content %}
    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">
    <h2>Data about movement</h2>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>ID room</th>
                <th>Date</th>
                <th>Time (in seconds)</th>
                <th>Interval of day</th>
                <th>Is abnormal?</th>
            </tr>
            {% for item in lists %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.id_room }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.time }}</td>
                    {% if item.day_part == 0 %}
                        <td style=>Night</td>
                    {% elif item.day_part == 1 %}
                        <td style=>Morning</td>
                    {% elif item.day_part == 2 %}
                        <td style=>Day</td>
                    {% elif item.day_part == 3 %}
                        <td style=>Evening</td>
                    {% endif %}
                    {% if not item.is_abnormal %}
                        <td style="color:red">
                         YES
                        </td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}    