{% extends "base.html" %}

{% block content %}
    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">
    <form method="post">
        <label for="mac"> Choose mac-address</label>
        <br>
        <div class="box">
            <select name="mac" id="mac" required>
                <option value="BC:FF:4D:35:A1:6E">BC:FF:4D:35:A1:6E room #1</option>
                <option value="BC:FF:4D:35:46:22">BC:FF:4D:35:46:22 room #2</option>
            </select>
        </div>
        <br>
        <label for="id_room">Input id room</label>
        <br>
        <input type="text" 
               name="id_room" 
               value="{{ request.form['id_room'] }}">
        <br>
        <label for="id_room">Input email</label>
        <br>
        <input type="email" 
               name="email" 
               value="{{ request.form['email'] }}" 
               required
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
               title="Email shoud contain @"
        >
        <br>
        <input type="submit" value="Save" class="form-button">
    </form>
{% endblock %}    