<!DOCTYPE html>
<link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">
<h1>Tmp table</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Move?</th>
    </tr>
    {% for item in lists %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.time }}</td>
            {% if item.move %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>