table {
  align-content: center;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  }
  
th, td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
  }

td{
  background: #D8E6F3;
    /* text-align: center; */
}
